@{
    ViewData["Title"] = "Jugar";
}
<body>
    <div class="fin">
        <p>@ViewBag.Username</p>
        <p>@ViewBag.Puntaje</p>
        <h2>Fin</h2>
        <a href='@Url.Action("ConfigurarJuego","Home")'>Empezar de nuevo</a>
    </div>
    
</body>