@{
    ViewData["Title"] = "Inicio";
}
<body>
    <div id="inicio">
        <h1>¡BIENVENIDOS A <br> PREGUNTADORT!</h1>

        <p>El emocionante juego de conocimientos donde responderás preguntas de diferentes categorías para avanzar y logar vencer a tus oponentes. ¡Demostrá tus habilidades y divertite!</p> 
        <img src="~/images/preguntad.png">
        <a href='@Url.Action("ConfigurarJuego","Home")'>¡A Jugar!</a>
    </div>
</body>
