@{
    ViewData["Title"] = "Jugar";
}
<body>
    <div class="validacion">
        @if(ViewBag.EsCorrecta){
            <h2 class="validacion correcto">Correcto</h2>
        } else{
            <h2 class="validacion incorrecto">Incorrecto</h2>
        }
    </div>
    <div>
        <a class="siguiente" asp-action="Jugar">Siguiente Pregunta</a>
    </div>
    
</body>